@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');
body{
	margin: 0;
	font-family: 'Source Sans Pro',sans-serif;
	color: #333;
	-webkit-font-smoothing: antialiased;
}
*{
  box-sizing: border-box;
}
a{
	color: unset;
	text-decoration: none;
}

::selection{
	background: rgba(#000,0.075);
}

.home_wrapper{
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

.gradient_background{
  background: linear-gradient(to bottom, #90BA12 0%,#76C011 100%)
}